/* General */
*, ::after, ::before {
    box-sizing: border-box;
}

@font-face {
    src: url(../fonts/OpenSans-Regular.ttf);
    font-family: opensans;
}

body {
    font-family: opensans;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    word-break: break-word;
    word-wrap: break-word;
}

@keyframes menu-appear {
    0%{transform: translateX(50px); opacity: 0}
    100%{transform: translateX(0px); opacity: 1}
}

.class_1 {
    background-color: #FFF;
    height: 100%;
    padding: 0px;
    width: 100vw;
}

/* ------ Top Bar ------ */
.class_2 {
    background-color: #EEE;
    display: flex;
}

.class_3 {
    background-color: #FFF;
    flex: 1 1 0%;
    max-width: 120px;
    text-align: center
}

.class_4 {
    height: 50px;
    object-fit: cover
}

.class_5 {
    align-items: center;
    background-color: #FFF;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
}

.class_6 {
    flex: 1;
    max-width: 30px;
}

.item_class_1 {
    cursor: pointer;
    display: block;
}

.class_7 {
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.item_class_2 {
    animation: menu-appear 0.5s ease;
    display: flex;
}

.class_8 {
    background-color: #FFF;
    border-right: solid thin #aaa;
    cursor: pointer;
    display: flex;
    display: block;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.class_9 {
    align-items: center;
    display: flex;
    flex: 1;
    max-width: 150px;
    padding: 5px;
}

.class_10 {
    border-radius: 50%;
    height: 40px;
    margin-right: 5px;
    object-fit: cover;
    width: 40px;
}

@media (max-width: 992px) {
    .item_class_0:hover > .item_class_2 {
        display: flex;
    }
    
    .item_class_1 {
        cursor: pointer;
        display: block;
    }

    .item_class_2 {
        display: none;
        flex-direction: column;
        left: 0px;
        min-width: 200px;
        position: absolute;
        top: 100%;
    }

    .item_class_2 a {
        width: 100%;
    }
}

/* ------ Settings ------ */
.class_11 {
    background-color: #FFF;
    color: #000;
    margin: 10px auto auto;
    max-width: 800px;
    min-height: 400px;
    padding: 10px;
}

.class_12 {
    background-color: #E5E5E5;
    color: #FFF;
    padding: 10px;
}

/* ------ *Saving Settings ------ */
.class_13 {
    align-items: center;
    background-color: #32D695;
    color: #FFF;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.class_14 {
    font-size: 30px;
}

.class_15 {
    padding: 5px;
}

.class_16 {
    align-items: center;
    background-color: #FC8A06;
    color: #FFF;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.class_19 {
    background-color: #3583AA;
    color: #FFF;
    height: 100px;
    padding: 10px;
}

/* ------ *Profile ------ */
.class_20 {
    background-color: #EFEFEF;
    color: #FFF;
    padding: 10px;
    text-align: center;
}

.class_21 {
    border-radius: 100% 60% 60% 30%;
    height: 150px;
    margin-bottom: 1em;
    margin-top: -80px;
    object-fit: cover;
    transform: rotate(-10deg);
    width: 150px;
}

.class_22 {
    background-color: #FFF;
    color: #000;
    padding: 10px;
    text-align: center;
}

.class_23 {
    margin: 0em;
    padding-left: 10px;
    padding-right: 10px;
}

.class_24 {
    color: #6752FF;
    cursor: pointer;
    font-size: 30px;
    margin: 10px;
}

/* ------ *Profile Setting ------ */
.class_26 {
    background-color: #EDEDED;
    color: #000;
    padding: 10px;
    text-align: center;
}

.class_27 {
    padding-left: 10px;
    padding-right: 10px;
}

.class_28 {
    height: 150px;
    object-fit: cover;
    width: 150px;
}

.class_29 {
    display: none;
}

.class_30 {
    color: #000;
    padding: 10px;
    text-align: left;
}

.class_31 {
    align-items: center;
    background-color: #F7F7F7;
    display: flex;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 4px;
}

.class_32 {
    display: inline-block;
    margin: 0.5rem 0.5rem 0.5rem 0px;
    min-width: 50px;
    width: 113px;
}

.class_33 {
    -moz-appearance: none;
    -webkit-appearance: none; 
    appearance: none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid #CED4DA;
    border-radius: .375rem;
    color: #212529;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}

.class_37 {
    background-color: #EEE;
    padding: 4px;
}

.class_38 {
    background-color: #DC3545;
    border: none;
    border-radius: 6px;
    color: #FFF;
    font-size: 16px;
    margin: .25rem .125rem;
    padding: 10px;
}

.class_39 {
    background-color: #0D6EFD;
    border: none;
    border-radius: 6px;
    color: #FFF;
    cursor: pointer;
    float: right;
    font-size: 16px;
    margin: .25rem .125rem;
    padding: 10px;
}

.class_40 {
    clear: both;
}

/* ------ *Posts ------ */
.class_41 {
    margin: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.class_42 {
    border: 1px solid #DDD;
    color: #000;
    display: flex;
    min-height: 100px;
    padding: 10px;
}

.class_43 {
    background-color: #EFEFEF;
    color: #000;
    flex: 1 1 1%;
    padding: 4px;
    width: 100px;
}

.class_44 {
    appearance: none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid #CED4DA;
    border-radius: 0.375rem;
    color: #202428;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.class_45 {
    color: #000;
    padding: 10px;
    text-align: center;
    width: 120px;
}

.class_46 {
    background-color: #0D6EFD;
    border-radius: 6px;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    margin: 0.25rem 0.125rem;
    padding: 10px;
    width: 100px;
}

/* ------ *Post ------ */
.class_47 {
    border-radius: 50%;
    height: 80px;
    object-fit: cover;
    width: 80px;
}

.class_48 {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.class_49 {
    background-color: #EFEFEF;
    color: #000;
    flex: 1 1 1%;
    padding: 10px;
    width: 100px;
}

.class_51 {
    color: #000;
    display: flex;
    padding: 5px;
}

.class_52 {
    cursor: pointer;
    font-size: 25px;
}

.class_53 {
    display: inline-block;
    padding: 5px;
}

/* ------ *Post Page Buttons ------ */
.class_54 {
    background-color: #0D6EFD;
    border: medium none;
    border-radius: 6px;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    left: -4px;
    margin: 0.25rem 0.125rem;
    padding: 10px;
}

/* ------ *Signup ------ */
.class_55 {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.627);
    border: 1px solid #BDC3C8;
    box-shadow: #C3C3C3 1px 1px 30px;
    color: #000;
    left: 50%;
    min-height: 300px;
    padding: 0px;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 400px;
}

.class_56 {
    height: 80px;
    object-fit: cover;
    width: 80px;
}

.class_57 {
    background-color: rgba(255, 255, 255, 0.24);
    color: #000;
    padding: 10px;
}

.class_58 {
    align-items: center;
    display: flex;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 4px;
}

.class_59 {
    padding: 4px;
}

.class_60 {
    background-color: #0D6EFD;
    border: medium none;
    border-radius: 6px;
    color: #FFF;
    cursor: pointer;
    float: right;
    font-size: 16px;
    margin: 0.25rem 0.125rem;
    padding: 10px;
    width: 100%;
}